<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">




  <div class="footer" th:fragment="footer">

      <h4>About us</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum rem
        eligendi <br />
        dicta vel exercitationem dolorum, similique reiciendis asperiores
        quisquam, officiis, eaque aspernatur impedit ab possimus? Alias quas
        ipsam sit earum.
      </p>
      <div class="icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <p>한정교 2조</p>

  </div>





</html>